.mainContainer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}
.container {
  height: 70vh;
  margin-top: 3%;
  width: 60%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  border-color: black;
  border-style: solid;
  border-radius: 5px;
  border-width: 2px;
}

.browseSheetMusic {
  font-family: "Arial", sans-serif;
}

.customInput {
  width: 100%;
  max-width: 300px;
  padding: 10px 15px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 5px;
  outline: none;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  margin: 10px;
}

.list {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 50%;
  width: 100%;
  padding: 0;
  margin: 0;
}
.listItem {
  width: 100%;
  height: 13vh;
}
