.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.backBtn {
  border-width: 2px;
  border-color: grey;
  border-radius: 6px;
  border-style: solid;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  transition: border-color color 0.25s;
  height: 9%;
  width: 100%;
  font-family: "Arial", sans-serif;
  font-size: 35px; /* Example styling for social media items */
  color: black;
}
.backBtn:hover {
  border-color: #646cff;
}
.backBtn:focus,
.backBtn:focus-visible {
  outline: auto 4px auto -webkit-focus-ring-color;
}

.text {
  font-family: "Arial", sans-serif;
  font-size: 20px;
}

.title {
  font-family: "Arial", sans-serif;
  font-size: 35px; /* Example styling for social media items */
  text-decoration: none;
  color: #000000;
  text-decoration: underline;
}
