.banner {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  padding-left: 90px;
  padding-right: 112px;
  padding-top: 4px;
  gap: 100px;
}
.logo {
  border-width: 2px;
  border-color: grey;
  border-radius: 6px;
  border-style: solid;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  transition: border-color 0.25s;
  height: 9%;
  width: 9%;
}
.logo:hover {
  border-color: #646cff;
}
.logo:focus,
.logo:focus-visible {
  outline: auto 4px auto -webkit-focus-ring-color;
}
.socialItem {
  font-family: "Arial", sans-serif;
  font-size: 35px;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
  transition: color 0.25s;
  text-decoration: none;
}

a:hover {
  color: #646cff;
}
